<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOaxSecwBelP79jquyN9evakHFv0dUXLw</string>
	<key>GCM_SENDER_ID</key>
	<string>278422724793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.traveler.travelerTask</string>
	<key>PROJECT_ID</key>
	<string>traveler5454task</string>
	<key>STORAGE_BUCKET</key>
	<string>traveler5454task.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278422724793:ios:f33ecf7018fc9d6ebbfb68</string>
</dict>
</plist>